* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.searchBar{
    border-radius: 10px;
    padding: 0 10px 0 0;
    border: 1px solid white;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(210, 210, 3);
    color: black;
}
div input{
    padding: 10px;
    border-radius: 10px 0 0 10px;
    border: none;
    width: 93%;
}
.searchBar label {
    cursor: pointer;
    padding: 8px;

}
.searchBar label:hover {
    cursor: pointer;
}