@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1em 4em;
    background-color: rgb(22, 22, 22);
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 100;
    margin-top: -3em;

}

.navbar a {
    text-decoration: none;
    color: rgb(191, 191, 191);
}

.navbar h1 {
    font-size: 2em;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}

.icons {
    display: flex;
    align-items: center;
    width: 10%;
    justify-content: space-between;
}

.cart {
    display: flex;
    align-items: center;
}

.cart .cart-icon {
    font-size: 35px;
}

.cart-count {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    background-color: yellow;
    border-radius: 50%;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.icons .house-icon {
    font-size: 35px;
}

@media (max-width:897px) {
    .navbar {
        padding: 1em 2em;
    }

    .navbar h1 {
        font-size: 1.7em;
    }
}

@media (max-width:775px) {
    .navbar {
        padding: 1em 0 0 0;
        flex-direction: column;
        gap: 1em;
        margin-top: -10em;
    }

    .icons {
        width: 100%;
        padding: 10px 0;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        border-top: 2px solid white;
        background-color: rgb(43, 43, 43);
    }
}

@media (max-width:524px) {
    .icons {
        justify-content: space-around;
    }
}